
.feed-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #d9d9d9;
    height: 100vh;
    padding: 10px;
  }
  

  .menu {
    position: absolute;
    top: 10px;
    left: 10px;
  }
  
  .menu-button {
    font-size: 24px;
    background: none;
    border: none;
    cursor: pointer;
  }
  
  .dropdown-menu {
    display: none;
    position: absolute;
    top: 30px;
    left: 0;
    background: #d9d9d9;
    border: 1px solid #ddd;
    padding: 10px;
  }
  
  .menu-button:hover + .dropdown-menu,
  .dropdown-menu:hover {
    display: block;
  }
  
  .dropdown-menu a {
    display: block;
    margin-bottom: 5px;
    text-decoration: none;
    color: #333;
  }
  
  .dropdown-menu a:hover {
    color: #3D577D;
  }
  
  /* Foto de perfil */
  .profile-container {
    position: absolute;
    top: 10px;
    right: 10px;
  }
  
  .profile-button {
    background: none;
    border: none;
    cursor: pointer;
  }
  
  .profile-image {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #ddd;
  }
  
  /* Barra de pesquisa */
  .search-bar {
    display: flex;
    align-items: center;
    margin-top: 60px;
    width: 90%;
    max-width: 600px;
  }
  
  .search-bar input {
    flex: 1;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px 0 0 5px;
  }
  
  .search-bar .search-button {
    padding: 10px;
    border: 1px solid #ddd;
    border-left: none;
    background-color: #3D577D;
    color: white;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
  }
  

  .books-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    gap: 20px;
    margin: 20px 0;
    width: 90%;
    max-width: 1200px;
  }
  
  .book-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    background: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
  }
  
  .book-image1 {
    width: 100px;
    height: 150px;
    background-color: #eee;
    margin-bottom: 10px;
  }
  
  .stars1 {
    display: flex;
    gap: 5px;
  }
  
  .star-image1 {
    width: 20px;
    height: 20px;
    background-color: #ffd700;
    border-radius: 50%;
  }
 
  .back-button1 {
    padding: 10px; 
    background-color: rgba(61, 87, 125, 0.6);
    color: #373737;
    border: 1px solid rgba(255, 255, 255, 0.7); 
    border-radius: 15px;
    font-size: 14px;
    cursor: pointer;
    text-align: center;
    transition: background-color 0.3s ease;
    width: 60px; 
    height: 40px;
  }
  
  .back-button:hover {
    background-color: #3D577D;
  }
  
 
.book-image {
  width: 100px; 
  height: 150px; 
  object-fit: cover; 
  border-radius: 5px; 
  margin-bottom: 10px; 
}

.stars-image {
  width: 100px; 
  height: auto; 
  display: block; 
}


.search-icon {
  width: 20px; 
  height: 20px;
}

.search-button img {
  width: 10px; 
  height: 10px; 
}